#headerBox{
    border: 1px solid #333;
    background: #111;
    color: white;
    font-weight: bold;
    text-shadow: 0 -1px 1px black;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3C3C3C),to(#111));
    background-image: -webkit-linear-gradient(#3C3C3C,#111);
    background-image: -moz-linear-gradient(#3C3C3C,#111);
    background-image: -ms-linear-gradient(#3C3C3C,#111);
    background-image: -o-linear-gradient(#3C3C3C,#111);
    background-image: linear-gradient(#3C3C3C,#111);
    padding: 8px;
    width: 100%;
    border-left: 0px;
    border-right: 0px;

}